/**************** FONTS ****************/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/**************** BEGIN CSS Reset ****************/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}
/**************** END CSS Reset ****************/

:root {
  /* set font-size to base-10 from base-16 */
  font-size: 62.5%;

  /* Variables */
  --width-mobile: 375px;
  --width-desktop: 1440px;
  --width-card-mobile: 325px;
  --width-card-desktop: 1280px;

  --font-family-body: "Karla", sans-serif;
  --font-family-headings: "DM Serif Display", serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-primary-dark: hsl(256, 26%, 20%);
  --color-primary-light: hsl(216, 30%, 68%);
  --color-secondary-dark: hsl(270, 9%, 17%);
  --color-secondary-medium: hsl(273, 4%, 51%);
  --color-secondary-light: hsl(0, 0%, 98%);
  --color-tertiary: hsl(273, 4%, 51%, 0.3);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family-body);
  font-size: 1.6rem;
  color: var(--color-primary-dark);
  background-color: var(--color-secondary-light);
}

header {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.header-logo {
  width: 115px;
  height: auto;
  margin: 30px 20px;
  justify-self: left;
}

.hamburger-menu__img {
  width: 32px;
  height: 32px;
  margin: 20px 20px;
  justify-self: right;
  /* cursor: pointer; */
}
.hamburger-menu__img--active {
  content: url(../images/icon-close.svg);
}

.hamburger-menu__nav--inactive {
  display: none;
}
.hamburger-menu__nav--active {
  display: block;
  grid-column: 1 / 3;
  padding: 0 1em 300px 2em;

  background-color: var(--color-primary-dark);
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-secondary-light);
}
.hamburger-menu__nav--active li {
  margin: 2em 0;
}
.hamburger-menu__nav--active li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.hamburger-menu__nav--active li:last-of-type {
  cursor: pointer;
  text-decoration: none;
  padding: 0.75em;
  border: 2px solid var(--color-secondary-light);
}
.hamburger-menu__nav--active li:last-of-type:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-secondary-light);
  border: 2px solid var(--color-secondary-light);
}

.main-image-container {
  line-height: 0;
  background-color: var(--color-primary-dark);
}
.main-image-container img {
  width: 100%;
}

.intro {
  width: 100%;
  padding: 95px 1em;
  text-align: center;
  color: var(--color-secondary-light);
  background-color: var(--color-primary-dark);
  background-image: url(../images/bg-pattern-intro-left-mobile.svg),
    url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom -200px;
}
.intro h1 {
  justify-self: center;
  max-width: 15ch;
  margin: 0 auto;
  font-size: 4.8rem;
  font-family: var(--font-family-headings);
  line-height: 1;
}
.intro p {
  max-width: 33ch;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2.5em;
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
}
.intro a {
  border: 2px solid var(--color-secondary-light);
  text-transform: uppercase;
  padding: 0.7em 2em;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}
.intro a:hover {
  cursor: pointer;
  background-color: var(--color-secondary-light);
  color: var(--color-secondary-dark);
}

.were-different {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  background-color: var(--color-secondary-light);
  background-image: url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top -130px;
}
.were-different h2::before {
  content: "";
  display: block;
  width: 3.5em;
  height: 1px;
  background-color: var(--color-secondary-medium);
  margin: 3em auto 0.6em auto;
}
.were-different h2 {
  font-family: var(--font-family-headings);
  font-size: 4.8rem;
  margin-bottom: 1em;
}
.were-different img {
  width: 5.5em;
  height: 5.5em;
  margin-top: 1em;
}
.were-different h3 {
  font-family: var(--font-family-headings);
  font-size: 2.8rem;
  margin: 1.2em auto 0.6em auto;
}
.were-different p {
  text-align: center;
  line-height: 1.6;
  color: var(--color-secondary-medium);
  margin-bottom: 2.2em;
  max-width: 34ch;
}

.find-out-more {
  display: grid;
  grid-template-areas: 1fr;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  margin: 6.2em 1.3em 8.5em 1.3em;
  /* margin-bottom: 10em; */
  background-color: var(--color-primary-dark);
  background-image: url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top -90px;
  background-size: 55% 120%;
  background-blend-mode: lighten;
}
.find-out-more h2 {
  font-family: var(--font-family-headings);
  font-size: 4rem;
  color: var(--color-secondary-light);
  line-height: 1;
  text-align: center;
  max-width: 13ch;
  padding: 1.85em 0 1em 0;
}
.find-out-more a {
  justify-self: center;
  width: max-content;
  font-size: 1.4rem;
  color: var(--color-secondary-light);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0.7em 2em;
  margin-bottom: 5em;
  border: 2px solid var(--color-secondary-light);
}

.find-out-more a:hover {
  cursor: pointer;
  background-color: var(--color-secondary-light);
  color: var(--color-secondary-dark);
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--color-secondary-light);
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% 19%;
}

.footer-logo {
  width: 115px;
  height: auto;
  margin: 85px auto 30px auto;
}

.social-nav {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
}

.social-nav ul {
  width: 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  font-size: 2.5rem;
  color: var(--color-secondary-medium);
  margin-bottom: 1.4em;
}

.social-nav li:hover {
  cursor: pointer;
  color: var(--color-primary-dark);
  transition: 300ms;
}

.social-nav::after {
  content: "";
  display: block;
  width: min(330px, 90vw);
  height: 1px;
  background-color: var(--color-tertiary);
  margin: 0 1.5em;
  background-blend-mode: ;
}

.footer-nav {
  font-size: 1.4rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6em;
}

.footer-nav h4 {
  font-size: 1.3rem;
  color: var(--color-secondary-medium);
  margin-top: 3.2em;
  margin-bottom: 2.5em;
}

.footer-nav li {
  margin-top: 1em;
}

.footer-nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/**************** BEGIN Desktop Styles ****************/
@media screen and (min-width: 1024px) {
}
/**************** END Desktop Styles ****************/
